<div class="uws-integration uwsinv-item uws-mapitem-tooltip uwsmapitemtooltip uws-mapitem-tooltip-{seccode} uws-paytype-{paytype} {theme} {inactive}"
    data-seccode="{seccode}">
    <div class="uwsname">{itemname}</div>
    <div class="uwspricecont">
        <div class="uwspriceitem">
            <div class="uwsprice {pricetypeclass}" data-symbol="{currencysymbol}">{frontprice}</div>
        </div>
    </div>
    <div class="uwsguestsinfo">
        <i class="uwsicon-user-1"></i>
        <span>{itemcapacity} {itemcapacitylabel}</span>
    </div>
</div>