<div class="uws-map-multiitemtooltip-item uwsinv-item">
    <div class="uwsname">{itemname}</div>
    <div class="uwsguestsinfo">
        <i class="uwsicon-user-1"></i>
        <span>{itemcapacity} {itemcapacitylabel}</span>
    </div>
    <div class="uwsfooter">
        <div class="uwspricescont">
            <div class="uwspricecont uwslistprice">
                <div class="uwspriceitem">
                    <div class="uwspricing">{pricingdisplay}</div>
                    <div class="uwsprice" data-symbol="{currencysymbol}">{frontprice}</div>
                </div>
                {itempaynowdiv}
            </div>
        </div>
    </div>
</div>