<div class="uws-integration uwsinv-item uws-mapitemtooltip-paytype-{paytype} uws-mapitem-tooltip uwslistitemtooltip uws-maplistitem-tooltip-{seccode} {theme}" data-seccode="{seccode}">
    <div class="uwsname">{itemname}</div>
    <div class="uwsguestsinfo">
        <i class="uwsicon-user-1"></i>
        <span>{itemcapacity} {itemcapacitylabel}</span>
    </div>
    <div class="uwshighlight">{itemhighlight}</div>
    <div class="uwsfooter">
        <div class="uwspricescont uwspaytype-{paytype}">
            <div class="uwspricecont uwslistprice">
                <div class="uwsprice {pricetypeclass}" data-symbol="{currencysymbol}">{frontprice}</div>
                <div class="uwspricing">{pricingdisplay}</div>
            </div>
            <div class="uwspricecont uwspaynow {paynowcontclass}">
                <div class="uwsprice" data-symbol="{currencysymbol}">{paynowprice}</div>
                <div class="uwspricing">Pay Now</div>
            </div>
        </div>
        <div class="uwsactions">
            <a class="uwsjs-inv-item-select uwscartaddiconbtn" data-mastercode="{mastercode}" data-seccode="{seccode}" data-loccode="{loccode}" aria-label="Add Item To Cart"><i class="uwsicon-shop"></i> <span>Add To Cart</span> <span class="uwssmallcircleicon"><i class="uwsicon-plus-1"></i></span></a>
        </div>
    </div>
</div>