<a href="#uws-map-showitem-{mastercode}" class="uwsjs-map-popselitem" data-mastercode="{mastercode}">
    <div class="uwsmapitemselitem">
        <div class="uwsname">{itemname}</div>
        <div class="uwspricecont">
            <div class="uwspriceitem">
                <div class="uwspricing">{pricingdisplay}</div>
                <div class="uwsprice {pricetypeclass}" data-symbol="{currencysymbol}">{frontprice}</div>
            </div>
            {itempaynowdiv}
        </div>
    </div>
</a>