<div class="uwsinv-item uws-inventory-item uws-inv-item-{mastercode} uws-globaltye-{globaltype} uws-paytype-{paytype}" data-mastercode="{mastercode}">
    <a href="#uws-close-mapitem-box-{mastercode}" class="uws-map-item-box-close uwsjs-map-item-box-close" aria-label="Close Item Box"><span>Close Item Box</span><i class="uwsicon-cross"></i></a>
    <div class="uwsinfo">
        <div class="uwsbadge">{itembadge}</div>
        <div class="uwsname">{itemname}</div>
        <div class="uwsbubbles">{itemguestbubble}{itemtimebubble}</div>
        {iteminfodiv}
    </div>
    <div class="uwspricecont">
        {itempaynowdiv}
        <div class="uwspriceitem">
            {itempricing}
            <div class="uwsprice {pricetypeclass}" data-symbol="{currencysymbol}">{frontprice}</div>
        </div>
        <div class="uwsactions">
            {itemselectbtn}
        </div>
        <div class="uwsdisclaimer">{itemdisclaimer}</div>
    </div>
</div>