<div class="uws-event-list-item {performersclass}">
    <a href="{eventlink}" aria-label="{eventname} {buttonlabel}">
        <div class="uws-agenda-item-default uws-event-item">
            <div class="uwsflyercont uws-ratio-{eventflyer-list-ratio}"><img class="uwsimgloading"
                    src="{eventflyer-list}" alt="{eventname} - Flyer" onload="this.classList.add('uwsloaded')"></div>
            <div class="uwsinfo">
                <div class="uwsddate">{eventddate}</div>
                <div class="uwsname"><span>{eventname}</span></div>
                {eventvenuediv}
                <div class="uwsactions">
                    <span class="uws-btn uws-btn-s">{buttonlabel}</span>
                </div>
            </div>
        </div>
    </a>
</div>