<div class="uws-inventory-bookbtns">
    <!--<div class="uwspromocode">
        <label for="uws-inventory-promocode">Promo Code</label>
        <input type="text" id="uws-inventory-promocode" name="uwsinvpromocode" placeholder="Promo Code" value="">
    </div>-->
    <div class="uws-inventory-bookbtns-body">
        <div class="uwssecactions">
            <a href="#uws-remove-cartitems" class="uwsjs-cart-clearall"><i class="uwsicon-trash-empty"></i><span>Clear<span> Cart</span></span></a>
        </div>
        <div class="uwsactions">
            <a href="{carturl}" class="uws-btn uws-btn-s uwsdy-carturl uwsjs-go-cart {bookbtnsclass}"><span>Cart</span><span class="uwsdy-cartcount uws-count"></span></a>
            <a href="{checkurl}" class="uws-btn uws-btn-p uwsdy-checkouturl {bookbtnsclass}"><i class="uwsicon-basket"></i><span>Checkout</span><span class="uwsdy-cartcount uws-count"></span></a>
        </div>
    </div>
</div>