<div class="uws-booktype uws-booktype-item {activedropdowns} uws-booktype-{addonvenuescode} uws-booktype-nodetype-{nodetype}"
    data-booktypename="addonvenue" data-venuecode="{addonvenuescode}">
    <a class="uwsjs-booktypetoggle" href='#uvinv-{addonvenuescode}'><span
            class="uwsbooktypenamenamecont">{addonvenuesicon}<span
                class="uwsbooktypename">{addonvenuesname}</span></span> <i class="uwsicon-right-open"></i></a>
    <div class="uws-bootypelist-body">
        <div class="uws-bootypelist-inner">
            {nodecontent}
        </div>
    </div>
</div>