<div class="uwsinv-item uws-inventory-item-pop uws-inv-item-{mastercode} uwsviewscontainer uws-integration uwsinv-pricingbreakdown-pop"
    data-mastercode="{mastercode}">
    <div class="uws-inventory-item-pop-inner">
        <div class="uws-itempop-header">
            <div class="uws-itempop-header-inner">
                <div class="uwsname">{itemname}</div>
            </div>
        </div>
        <div class="uws-itempop-content uwsviewscontainer">
            <div class="uws-itempop-main">
                <div class="uws-itempop-body">
                    <div class="uwsdy-price-breakdown uwspricesbreakdown"></div>
                </div>
            </div>
            <div class="uws-loader-uvicon"></div>
        </div>
    </div>
</div>