<div class="uwsinv-item uws-inventory-item uws-inv-item-{mastercode}" data-mastercode="{mastercode}">
    <div class="uwsinfo">
        <div class="uwsbadge">{itembadge}</div>
        <div class="uwsname">{itemname}</div>
        {iteminfodiv}
    </div>
    <div class="uwspricecont">
        {itempaynowdiv}
        <div class="uwspriceitem">
            <div class="uwspricing">{pricingdisplay}</div>
            <div class="uwsprice {pricetypeclass}" data-symbol="{currencysymbol}">{frontprice}</div>
        </div>
    </div>
    <div class="uwsactions">
        {itemselectbtn}
    </div>
</div>