# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# Ignored third-party all plugins less urvenue-web-services
/wp-content/plugins/*
!/wp-content/plugins/urvenue-web-services/
!/wp-content/plugins/urvenue-web-services/**

# All themes
/wp-content/themes

# Custom
.ddev/config.yaml
_locals/
/wp-content/mysql.sql
wp-content/mysql.sql
/docs/
.vscode
/wp-content/plugins/wp-migrate-db
/wp-content/themes/wp-uvtheme-master-main.disabled
local-xdebuginfo.php

/wp-content/plugins/urvenue-web-services/uvcore/uvfeeds/global/
.DS_Store
