<div class="uws-event-two-cols">
    <div class="uwsflyercont uws-ratio-{eventflyer-list-ratio}"><a href="{eventflyer-eventpage-full}"
            class="uwsjs-show-image" data-pop-title="{eventname}" target="_blank"><img class="uwsimgloading"
                src="{eventflyer-list}" alt="{eventname} - Flyer" onload="this.classList.add('uwsloaded')"></a></div>
    <div class="uwsinfo">
        <div class="uwstitle">{eventname}</div>
        <div class="uwsddate"><span>{eventddate}</span> {dstarttimediv}</div>
        <div class="uwsvenuename">{venuename}</div>
    </div>
</div>
{eventdescrdiv}